@media screen and (max-width:768px){
  body{
  font-size: 0.8rem; 
  overflow-x: hidden !important;
  }
.nav-links{
  position: absolute ;
  right: 0;
  height: 92vh;
  top: 8vh;
  background-color:   rgba(0, 0, 0, 0.822);
  flex-direction: column;
  align-items: center;
  width: 25% !important;
  transform: translateX(100%);
  transition: all 0.5S;
  justify-content: space-evenly !important;
  li{
    
    opacity: 0;
    }
  }
  .burger {
    display: block !important;
  }
  .ling1,.ling2,.ling3{
    position: absolute;
    border: 2px solid rgb(250, 5, 238);
    width: 250px !important;
    height: 250px !important;
    animation: animete 5s linear infinite;
  }
  .chelcode{
    padding-top: 0px !important;
    font-size: 4rem !important;
  }
  #viewer img {
    width: 100vw;
    height: 91vw;
    position: absolute;
    z-index:-2;
    top: 0;
    left: 0;
  }
  .icons{
    text-align: center;
  }
  .news_list{
    height: 200px !important;
  }
  .front_news{
    height: 200px;
    font-size: 0.8rem !important;
  }
  .sec-2{
    text-align: start;
  }
  .text-1{
    padding-left: 15px !important ;
    padding-right: 15px !important ;
    text-align: start;
  }
  .container-2{
    flex-direction: column;
  }
  .photo{
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .container-3{
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .sec-3-contents{
    width: 100% !important;
    padding: 0 30px;
  }
  .loaded{
    width: 300px !important;
    height: 300px !important;
    opacity: 0;
    transition: all 0.5s;
  }
  
  .loader{
    width: 300px !important;
    height: 300px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  .container-4{
    padding-bottom: 50px;
    flex-direction: column !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    
  }
  div.pc-img{
    img{
    width: 300px !important;
    height: 250px;
    background-size: cover;
    }  
  }
  div.check{
    padding-left: 20px ;
    margin-bottom: 30px;
  }
  .container-5{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items:center !important ;
    a{
      width: 90% !important;
      height:auto;
      margin: auto !important;
      
    }
  }

  .container-6{
    display: flex;
    flex-direction: column;
    justify-content: center  !important;
    align-items: center !important;
    padding-bottom: 50px;

  
    .card-effect{
      width: 90%  !important;
      height: auto;
      margin: auto !important;
    }
  }

  .portfolio{
    text-align: center;
    flex-direction: column;
  }
  .thumb{
    padding: 20px;
    img{
    width: 300px !important;
    height: auto;
    }
  }
  .container-6{
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    .portfolio{
      margin-bottom: 20px !important;
    }
  }
  .archive-works{
    display: flex;
    flex-direction: column !important;
    a{
      width: 90% !important;
      margin: auto !important; 
    }
  }

  .contactform{
    border: 2px solid rgb(250, 5, 238) ;
    padding: 20px !important;;
    }
    
    .form{
      width: 330px !important;
      margin: 0 auto;
    }
    .item{
      overflow: hidden;
      margin-bottom: 20px;
    }
    
    .label{
      float: left;
      margin-right: 20px;
      width: 300px;
      border-left:3px solid rgb(250, 5, 238) ;
      padding-left: 10px;
    }
    .input{
      float: left;
      width: 300px;
    }
    textarea{
      border: 1px solid #aaa;
      border-radius: 10px;
      height: 160px;
      width: 300px;
      font-size: 15px;
    }
    
    .button-area{
      text-align: center;
    }
    input[type="submit"]{
      margin: 0 auto !important;
      padding: 0 auto !important;
    }

    .w_inner_single_work_container{
      flex-direction: column !important;
    }
    
}
// メディアクエリ閉じタ